In [1]:
import pandas as pd
import numpy as np
import re
import random as ra

**Pair Programming Pandas VII**

En el ejercicio de ayer estuvimos viendo el groupby y pudimos observar que los datos estaban un poco sucios... üò≠. En los ejercicios de hoy pondremos en pr√°ctica los apply, y nos crearemos algunas funciones que nos van a permitir limpiar un poco los datos, para que podamos extraer conclusiones de una forma m√°s sencilla.
Manos a la obra üí™üèΩ! Los objetivos de la clase de hoy son:

In [2]:
ataques_apply = pd.read_csv("tablas_unidas2.csv", index_col=0)
ataques_apply.head()

,YEAR,TYPE,COUNTRY,AREA,LOCATION,ACTIVITY,NAME,SEX_,AGE,TIME,...,HREF FORMULA,CASE NUMBER.1,CASE NUMBER.2,ORIGINAL ORDER,UNNAMED:22,UNNAMED: 23,UNNAMED: 0_y,FATAL (Y/N),INJURY,DATE
CASE_NUMBER,,,,,,,,,,,,,,,,,,,,,
2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,...,NaN,NaN,NaN,NaN,NaN,NaN,5472,N,Lacerations to leg from hooked shark PROVOKED ...,Reported 06-Sep-1905
2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,...,NaN,NaN,NaN,NaN,NaN,NaN,5472,N,Lacerations to leg from hooked shark PROVOKED ...,Reported 06-Sep-1905
2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,...,NaN,NaN,NaN,NaN,NaN,NaN,5472,N,Lacerations to leg from hooked shark PROVOKED ...,Reported 06-Sep-1905
2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,...,NaN,NaN,NaN,NaN,NaN,NaN,5472,N,Lacerations to leg from hooked shark PROVOKED ...,Reported 06-Sep-1905
2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,...,NaN,NaN,NaN,NaN,NaN,NaN,5472,N,Lacerations to leg from hooked shark PROVOKED ...,Reported 06-Sep-1905

1. Cread una columna nueva y una funci√≥n que nos de el mes en el que ocurri√≥ el ataque. Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la informaci√≥n de mes. En ese caso devolved un nulo (NaN).
üí° Pista üí°Pod√©is usar regex.

In [3]:
ataques_apply.columns

Index(['YEAR', 'TYPE', 'COUNTRY', 'AREA', 'LOCATION', 'ACTIVITY', 'NAME',
       'SEX_', 'AGE', 'TIME', 'SPECIES_', 'PDF', 'HREF', 'UNNAMED: 0_x',
       'CASE NUMBER', 'SEX ', 'SPECIES ', 'INVESTIGATOR OR SOURCE',
       'HREF FORMULA', 'CASE NUMBER.1', 'CASE NUMBER.2', 'ORIGINAL ORDER',
       'UNNAMED:22', 'UNNAMED: 23', 'UNNAMED: 0_y', 'FATAL (Y/N)', 'INJURY',
       'DATE'],
      dtype='object')

In [4]:
ataques_apply["DATE"].unique ()

array(['Reported 06-Sep-1905', '1800', 'Reported May-28-1797',
       '12-Sep-1792', '1791', '10-May-1788', '05-Jul-1787',
       'Reported 10-Aug-1786', 'Reported 26-Sep-1785', '12-Dec-1784',
       '02-Mar-1783', '08-Aug-1780', '1779', 'Reported 1776', '1776',
       'Reported 12-Jul-1771', '1767', '1764', '1758',
       'Reported 27-Oct-1753', '27-Jul-1751', '1749', '1755', '1748',
       '17-Dec-1742', 'Reported 06-Apr-1738', '1733', '1723', 'June 1721',
       '26-Mar-1703', '1700s', 'Late 1600s Reported 1728',
       'Reported 1638', 'Reported 1637', 'Reported 1617', '1642', '1595',
       'Letter dated 10-Jan-1580', '1555', 'Ca. 1554', 'Ca. 1543',
       'Circa 500 A.D.', '77  A.D.', 'Ca. 5 A.D.', 'Ca. 214 B.C.',
       'Ca. 336.B.C..', '493 B.C.', 'Ca. 725 B.C.', 'Before 1939',
       '1990 or 1991', 'Before 2016', 'Before Oct-2009', 'Before 1934',
       '2009?', 'Before 1930', '1880-1899', 'Before 1909', 'Before 2012',
       'Before 1916', 'Between   1951-1963', 'Before 1908', 'Before 1900',
       'Before 1876', 'Before 2011', 'Before 2009', 'Beforer 1994',
       'Before 1963', '1896-1913', 'Before 1936', 'Before 08-Jun-1912',
       'Before 1911', 'Before 1901', 'No date, late 1960s', 'Before 2006',
       'Before 2003', 'Before 2004', 'Before 1962', '1950s',
       'No date, Before 1963', '2003?', 'No date', 'Before Feb-1998',
       'No date, Before May-1996', 'No date, Before Mar-1995',
       'Before 1996', 'No date, Before Aug-1989',
       'No date, Before Aug-1987', 'No date, Before 1987',
       'No date, Before  1975', 'No date, Before 1975',
       'No date, Before 1969', 'No date, Before 3-Jan-1967',
       'No date, Before 8-May-1965', 'No date, Before 1902',
       'No date, After August 1926 and before 1936', 'Before 1961',
       '1960s', 'Before 1960', 'Before  19-Jun-1959',
       'Before  24 Apr-1959', 'Before  1958', 'Before 1958',
       'Before 1957', 'Before 1956', 'Before Mar-1956', 'Before 1952',
       '1941-1945', '"During the war" 1943-1945', '"Before the war"',
       'Said to be 1941-1945, more likely 1945', '1941-1942',
       '1940 - 1950', '1940-1946', 'Before 1905', 'World War II',
       'A few years before 1938', 'Early 1930s', 'Before 1927',
       'Between 1918 & 1939', '1920 -1923', 'Before 1921', 'Before 1917',
       'Before 17-Jul-1916',
       'No date (3 days after preceding incident) & prior to 19-Jul-1913',
       'Before 19-Jul-1913', 'Circa 1862', 'Before 1906', 'Before 1903',
       '1900-1905', '1883-1889', '1845-1853'], dtype=object)

In [5]:
patron = "Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec"

In [6]:
def mes_ataque (fecha):
    if len(fecha) == 11:
        a = re.findall(patron, fecha)
        return "".join(a)
    elif fecha == " ":
        return np.nan
    else:
        return np.nan

In [7]:
ataques_apply["fecha"] = ataques_apply["DATE"].apply(mes_ataque)

In [8]:
ataques_apply.head()

,YEAR,TYPE,COUNTRY,AREA,LOCATION,ACTIVITY,NAME,SEX_,AGE,TIME,...,CASE NUMBER.1,CASE NUMBER.2,ORIGINAL ORDER,UNNAMED:22,UNNAMED: 23,UNNAMED: 0_y,FATAL (Y/N),INJURY,DATE,fecha
CASE_NUMBER,,,,,,,,,,,,,,,,,,,,,
2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,...,NaN,NaN,NaN,NaN,NaN,5472,N,Lacerations to leg from hooked shark PROVOKED ...,Reported 06-Sep-1905,NaN
2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,...,NaN,NaN,NaN,NaN,NaN,5472,N,Lacerations to leg from hooked shark PROVOKED ...,Reported 06-Sep-1905,NaN
2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,...,NaN,NaN,NaN,NaN,NaN,5472,N,Lacerations to leg from hooked shark PROVOKED ...,Reported 06-Sep-1905,NaN
2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,...,NaN,NaN,NaN,NaN,NaN,5472,N,Lacerations to leg from hooked shark PROVOKED ...,Reported 06-Sep-1905,NaN
2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,...,NaN,NaN,NaN,NaN,NaN,5472,N,Lacerations to leg from hooked shark PROVOKED ...,Reported 06-Sep-1905,NaN

2. Vamos con la columna fatal_(y/n). Lo primero que ten√©is que hacer es evaluar los valores √∫nicos que hay. Esperar√≠amos tener solo dos valores: y y n, pero tristemente no ser√° as√≠ üò≠. Cread una columna nueva y una funci√≥n que devuelva √∫nicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

In [9]:
ataques_apply['FATAL (Y/N)'].value_counts()

N          1573
Y            86
UNKNOWN       8
Name: FATAL (Y/N), dtype: int64

In [10]:
def fatalisimo (unicos):
        if unicos == "Y":
            return "Y"
        elif unicos == "N" or unicos == "N":
            return "N"
        else:
            return np.nan

In [11]:
ataques_apply["FATALIDAD"] = ataques_apply['FATAL (Y/N)'].apply(fatalisimo)

In [12]:
ataques_apply["FATALIDAD"].value_counts()

N    1573
Y      86
Name: FATALIDAD, dtype: int64

In [13]:
#aqui comprobamos que los valores que se usan en esta columna son Y/N/nan
ataques_apply["FATALIDAD"].unique ()

array(['N', 'Y', nan], dtype=object)

3. Seguid la misma l√≥gica que en el ejercicio anterior pero con la columna sex. Pero en este caso vamos a incluir un retito m√°s: En este caso querremos tener dos valores √∫nicos F y M. De nuevo en la columna hay otros car√°cteres raros como 'M ', 'lli', 'N', '.'. En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendr√©is que usar la librer√≠a random). En caso de que sea nulo, que la funci√≥n devuelva nulo (np.nan).

In [14]:
ataques_apply['SEX_'].value_counts()

M      1294
F       207
lli       1
Name: SEX_, dtype: int64

In [15]:
def sexy (value):
        if value == "M":
            return "M"
        elif value == "F":
            return "F"
        elif value == "NaN":
            return np.nan
        else:
            return np.random.choice(["F","M"])

In [16]:
ataques_apply["SEX_UAL"] = ataques_apply['SEX_'].apply(sexy)
ataques_apply.head()

,YEAR,TYPE,COUNTRY,AREA,LOCATION,ACTIVITY,NAME,SEX_,AGE,TIME,...,ORIGINAL ORDER,UNNAMED:22,UNNAMED: 23,UNNAMED: 0_y,FATAL (Y/N),INJURY,DATE,fecha,FATALIDAD,SEX_UAL
CASE_NUMBER,,,,,,,,,,,,,,,,,,,,,
2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,...,NaN,NaN,NaN,5472,N,Lacerations to leg from hooked shark PROVOKED ...,Reported 06-Sep-1905,NaN,N,F
2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,...,NaN,NaN,NaN,5472,N,Lacerations to leg from hooked shark PROVOKED ...,Reported 06-Sep-1905,NaN,N,M
2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,...,NaN,NaN,NaN,5472,N,Lacerations to leg from hooked shark PROVOKED ...,Reported 06-Sep-1905,NaN,N,M
2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,...,NaN,NaN,NaN,5472,N,Lacerations to leg from hooked shark PROVOKED ...,Reported 06-Sep-1905,NaN,N,M
2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,08h15,...,NaN,NaN,NaN,5472,N,Lacerations to leg from hooked shark PROVOKED ...,Reported 06-Sep-1905,NaN,N,M

In [17]:
ataques_apply['SEX_UAL'].unique()

array(['F', 'M'], dtype=object)

4. Una vez que hay√°is terminado eliminad las columnas originales conservando las nuevas.

In [20]:
ataques_apply.drop(columns=['SEX ','FATAL (Y/N)','DATE'], inplace= True)

In [22]:
ataques_apply.columns

Index(['YEAR', 'TYPE', 'COUNTRY', 'AREA', 'LOCATION', 'ACTIVITY', 'NAME',
       'SEX_', 'AGE', 'TIME', 'SPECIES_', 'PDF', 'HREF', 'UNNAMED: 0_x',
       'CASE NUMBER', 'SPECIES ', 'INVESTIGATOR OR SOURCE', 'HREF FORMULA',
       'CASE NUMBER.1', 'CASE NUMBER.2', 'ORIGINAL ORDER', 'UNNAMED:22',
       'UNNAMED: 23', 'UNNAMED: 0_y', 'INJURY', 'fecha', 'FATALIDAD',
       'SEX_UAL'],
      dtype='object')

5. Guardad el dataframe en un csv que usaremos m√°s adelante.

In [23]:
ataques_apply.to_csv("ataques_pandas7.csv")